<div class="fixed bottom-4 right-4 z-50 space-y-3 w-80">
    @for (toast of toasts(); track toast.id) {
    <div class="p-4 rounded-lg shadow-lg text-white animate-fade-in transform transition-all duration-300" [ngClass]="{
            'bg-success-500': toast.type === 'success',
            'bg-danger-500': toast.type === 'error',
            'bg-warning-500': toast.type === 'warning',
            'bg-info-500': toast.type === 'info'
        }">
        <div class="flex justify-between items-start">
            <div class="flex items-center">
                <!-- Success Icon -->
                @if (toast.type === 'success') {
                <img src="assets/icons/success.svg" alt="Success" class="w-5 h-5 me-2" />
                }
                <!-- Error Icon -->
                @if (toast.type === 'error') {
                <img src="assets/icons/error.svg" alt="Error" class="w-5 h-5 me-2" />
                }
                <!-- Warning Icon -->
                @if (toast.type === 'warning') {
                <img src="assets/icons/warning.svg" alt="Warning" class="w-5 h-5 me-2" />
                }
                <!-- Info Icon -->
                @if (toast.type === 'info') {
                <img src="assets/icons/info.svg" alt="Info" class="w-5 h-5 me-2" />
                }
                <p class="flex-1">{{ toast.message }}</p>
            </div>
            <app-button variant="ghost" iconSrc="assets/icons/close.svg" [iconOnly]="true" size="xs"
                customClass="ms-2 text-white hover:text-white/80" (clicked)="onDismiss(toast.id)">
            </app-button>
        </div>
    </div>
    }
</div>