<!-- Desktop Sidebar (permanent on lg screens) -->
<aside class="hidden lg:flex lg:flex-shrink-0">
    <div class="w-64 h-screen bg-primary-50 border-r border-primary-200 fixed top-0 pt-16 z-20">
        <div class="p-4">
            <div class="flex flex-col space-y-2">
                @for (item of navItems(); track item.path) {
                <app-navigation-item-link [routerLink]="item.path" [text]="item.name"
                    [iconSrc]="'assets/icons/' + item.icon + '.svg'" variant="sidebar" [fullWidth]="true"
                    customClass="justify-start">
                </app-navigation-item-link>
                }
            </div>
        </div>
    </div>
</aside>

<!-- Mobile Sidebar (off-canvas) -->
@if (isMobileSidebarOpen()) {
<div class="lg:hidden fixed inset-0 z-40">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-primary-600/75" (click)="onToggleMobileSidebar()"></div>

    <!-- Sidebar Content -->
    <div class="relative h-full w-64 bg-primary-50 shadow-lg transform transition-transform duration-300 ease-in-out"
        [ngClass]="{ 'translate-x-0': isMobileSidebarOpen(), '-translate-x-full': !isMobileSidebarOpen() }">

        <div class="p-4 pt-16">
            <app-button variant="ghost" iconSrc="assets/icons/close.svg" [iconOnly]="true"
                [customClass]="'absolute top-4 right-4'" (clicked)="onToggleMobileSidebar()">
            </app-button>

            <div class="flex flex-col space-y-2">
                @for (item of navItems(); track item.path) {
                <app-navigation-item-link [routerLink]="item.path" [text]="item.name"
                    [iconSrc]="'assets/icons/' + item.icon + '.svg'" variant="sidebar" [fullWidth]="true"
                    [customClass]="'justify-start'">
                    (clicked)="onToggleMobileSidebar()">
                </app-navigation-item-link>
                }
            </div>
        </div>
    </div>
</div>
}